@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Bold.ttf") format("truetype"), url("../assets/fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Light.ttf") format("truetype"), url("../assets/fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Medium.ttf") format("truetype"), url("../assets/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-Regular.ttf") format("truetype"), url("../assets/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
}

/* Variables - Пременные
========================================================================= */
:root {
  /* Ширина контейнера (Воодить без учета внутрених отступов) */
  --containerWidth: 1110px;
  /* Осноыной цвет текста */
  --primaryColor: #c3c3c3;
  /* Основной цвет заголовков */
  --titleColor: #FFF7F7;
  /* Основной шрифт текста */
  --primaryFont: 'Manrope';
  /* Основной шрифт Заголовков */
  --primaryTitleFont: 'Manrope';
  /* Цвет лого */
  --logoColor: #eee;
  --primaryItemColor: #08FFC8;
  --primaryItemColorDark: #085CFF;
  --secondaryItemColor: #DADADA;
  --secondaryItemColorDark: #171717;
  --blackColor: #000;
  --gradient: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  --gradientRevers: linear-gradient(90deg, #009efd 0%, var(--primaryItemColor) 100%);
  --animationGradient: linear-gradient(90deg, #2af598 0%, #009efd 50%, #2af598 100%);
}

/* Начальные обнуляющие стили
========================================================================= */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--primaryFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  color: var(--titleColor);
}

*:hover,
*:active {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--blackColor);
}

.container {
  width: 100%;
  max-width: calc(var(--containerWidth) + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.logo > img {
  display: block;
  margin-right: 12.03px;
}

.logo > span {
  font-size: 16px;
  line-height: 22px;
  color: var(--logoColor);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: var(--animationGradient);
}

/* Анимация по умолчанию
========================================================================= */
.link {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}

.link:hover {
  color: var(--primaryItemColor);
}

.link:active {
  color: rgba(8, 255, 200, 0.5);
}

.link.disabled {
  color: rgba(218, 218, 218, 0.2) !important;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  color: var(--titleColor);
  background: transparent;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: '';
  -webkit-transition: left 0.3s linear, opacity 0.3s linear;
  transition: left 0.3s linear, opacity 0.3s linear;
  z-index: -1;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--animationGradient);
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 20px #08FFC8;
          box-shadow: 0px 0px 20px #08FFC8;
}

.btn:hover::before {
  left: -100%;
}

.btn:active {
  background: rgba(8, 255, 200, 0.5);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.btn:active::before {
  opacity: 0;
}

.btn.disabled {
  background: rgba(218, 218, 218, 0.5) !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  color: rgba(218, 218, 218, 0.8);
}

.btn.disabled::before {
  opacity: 0 !important;
}

.btn__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--primaryItemColor);
  background: var(--blackColor);
  background-clip: padding-box;
  border-radius: 5px;
  border: solid 2px transparent;
  padding: 10px;
}

.btn__secondary:before {
  content: '';
  -webkit-filter: drop-shadow(0px 0px 4px var(--primaryItemColor));
          filter: drop-shadow(0px 0px 4px var(--primaryItemColor));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--gradient);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn__secondary:hover:before {
  background: -webkit-gradient(linear, left top, right top, from(#2AF598));
  background: linear-gradient(90deg, #2AF598);
  -webkit-filter: drop-shadow(0px 0px 10px var(--primaryItemColor));
          filter: drop-shadow(0px 0px 10px var(--primaryItemColor));
}

.btn__secondary:active {
  border-color: rgba(8, 255, 200, 0.5);
  color: rgba(8, 255, 200, 0.5);
}

.btn__secondary:active::before {
  opacity: 0;
}

.btn__secondary.disabled {
  border-color: rgba(218, 218, 218, 0.5) !important;
  color: rgba(218, 218, 218, 0.5) !important;
}

.btn__secondary.disabled::before {
  opacity: 0;
}

/* Navigation - Навигиционная панель сайта
========================================================================= */
.nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  background: var(--blackColor);
}

@media (max-width: 992px) {
  .nav {
    background: var(--secondaryItemColorDark);
  }
}

.nav__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__content-right,
.nav__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .nav__content-right {
    max-width: 375px;
    width: 100%;
    position: fixed;
    height: calc(100vh - 72px);
    top: 72px;
    right: -100%;
    background: var(--secondaryItemColorDark);
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 900;
    overflow-y: scroll;
  }
  .nav__content-right.active {
    right: 0;
  }
}

.nav__theme-btn {
  margin-left: 10px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
  gap: 30px;
}

@media (max-width: 992px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0;
    gap: 0;
  }
}

.nav__list li {
  position: relative;
  color: var(--secondaryItemColor);
}

@media (max-width: 992px) {
  .nav__list li {
    padding: 15px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: var(--secondaryItemColorDark);
  }
}

.nav__list > li::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: var(--primaryItemColor);
  top: -100%;
  left: 0;
  position: absolute;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (max-width: 992px) {
  .nav__list > li::before {
    display: none;
  }
}

.nav__list > li:last-child {
  left: 30px;
}

@media (max-width: 992px) {
  .nav__list > li:last-child {
    left: unset;
  }
}

.nav__list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: inherit;
}

.nav__local-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  width: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: inherit;
}

.nav__local-btn::before {
  font-size: 25px;
}

@media (max-width: 992px) {
  .nav__local-btn::before {
    display: none;
  }
}

.nav__local-btn ~ ._sub-nav__language-box {
  width: 100%;
}

.nav__local-btn ~ ._sub-nav__language-box.lang {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sub-nav__list-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 70%;
  width: 298px;
  padding-top: 13px;
  -webkit-transition: opacity 0.3s linear, top 0.3s linear;
  transition: opacity 0.3s linear, top 0.3s linear;
}

@media (max-width: 992px) {
  .sub-nav__list-box {
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: height 0.3s linear, padding 0.3s linear;
    transition: height 0.3s linear, padding 0.3s linear;
    padding: 0;
  }
}

.sub-nav__list-box.active {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .sub-nav__list-box.active {
    height: 330px;
    padding-top: 13px;
  }
}

.sub-nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  padding: 20px;
  background: var(--secondaryItemColorDark);
  border-radius: 5px;
}

@media (max-width: 992px) {
  .sub-nav__list {
    padding: 0;
    gap: 0;
  }
  .sub-nav__list > li {
    left: -15px;
    width: calc(100% + 30px);
    padding: 15px;
  }
  .sub-nav__list > li i {
    display: none;
  }
}

.sub-nav__list > li:hover .sub-sub-nav__list {
  visibility: visible;
  opacity: 1;
}

.sub-nav__list._lang {
  padding: 13px 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 992px) {
  .sub-nav__list._lang {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: inherit;
    gap: 0;
    height: 0;
    padding: 0;
  }
}

.sub-nav__list._lang li:not(:first-child)::before {
  content: '';
  width: 43px;
  height: 1px;
  background: rgba(151, 151, 151, 0.1);
  top: -4px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
}

@media (max-width: 992px) {
  .sub-nav__list._lang li:not(:first-child)::before {
    display: none;
  }
}

.sub-nav__list-link {
  color: inherit;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-nav__list-link::before {
  margin-right: 10px;
  font-size: 24px;
}

@media (max-width: 992px) {
  .sub-nav__list-link {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sub-nav__list-link::before {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

._sub-nav__language-box {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 992px) {
  ._sub-nav__language-box {
    left: unset;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: static;
    -webkit-transform: unset;
            transform: unset;
    left: -15px;
    right: -15px;
    width: calc(100% + 30px);
  }
}

.local__link {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: var(--titleColor);
  text-transform: capitalize;
}

.sub-sub-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 252px;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  left: 100%;
  top: -20px;
  padding: 28.5px 20px 28.5px 40px;
  background: #202020;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 992px) {
  .sub-sub-nav__list {
    display: none;
  }
}

.sub-sub-nav__list li {
  list-style: disc;
}

.sub-sub-nav__list-link {
  color: inherit;
  font-size: 16px;
  line-height: 22px;
}

._arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  color: inherit;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  font-size: 25px;
}

.nav__menu-btn {
  display: none;
}

@media (max-width: 992px) {
  .nav__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50px;
    height: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.nav__menu-btn .menu-btn__line {
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background: var(--titleColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1000;
}

.nav__menu-btn .menu-btn__line:last-child {
  width: 34.25px;
  height: 3.5px;
}

.nav-list__arrow {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list__arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Header - Шапка сайта
========================================================================= */
.crm-header__content {
  width: 100%;
}

.connect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 69px;
  padding-bottom: 58px;
}

.connect__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #FFF7F7;
  max-width: 898px;
  margin-bottom: 41px;
}

.connect__title span {
  color: #085CFF;
}

.connect__text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFF7F7;
  max-width: 752px;
}

.connect__text span {
  font-weight: 700;
  color: #FFF7F7;
}

.connect .connect__btn {
  margin-top: 40px;
}

@media (max-width: 992px) {
  .connect .connect__title {
    font-size: 33px;
    max-width: 569px;
  }
  .connect .connect__text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .connect .connect__title {
    font-size: 24px;
    line-height: 33px;
  }
  .connect .connect__text {
    max-width: 345px;
  }
  .connect .connect__text:nth-of-type(2) {
    margin-top: 20px;
  }
}

.connect__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.connect__icon_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__item_title {
  font-family: var(--primaryTitleFont);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--titleColor);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon__item_text {
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #DADADA;
  max-width: 224px;
}

.icon__third_text {
  max-width: 169px;
  width: 100%;
}

@media (max-width: 992px) {
  .icon__third_text {
    max-width: 224px;
  }
}

@media (max-width: 576px) {
  .connect__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Main - контент сайта
========================================================================= */
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__content {
  width: 100%;
}

/* Footer - Подвал сайта
========================================================================= */
.footer {
  width: 100%;
}

.footer__content {
  width: 100%;
}

/* Адаптив сайта */
/*# sourceMappingURL=style.css.map */